@import "~bootstrap/scss/bootstrap";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 4em;
}

.task-manager-index {
  width: 80%;

  .process-table {
    .actions {
      transition: 0.4s;
      opacity: 0;

      a {
        font-size: 0.7em;
      }
    }

    tr:hover {
      .actions {
        opacity: 1;
      }
    }
  }
}
